.search-form__content {
    max-width: 1230px;
    margin: 0 auto;
    padding: 60px 15px;
}

.search-form__title {
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form__item {
    padding: 0 5px;
    width: 300px;
}

.search-form__item-select {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.search-form__button {
    padding: 0 auto;
    width: 120px;
}

.search-form__button-item {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}