.header {
    background-color: #000;
}

.header__inner {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}